html{
background: url("images/wallpaper_clouds_sunshine_bg.jpg"); 
background-repeat: no-repeat;
background-size:100%;
}
body{
	font-family: sans-serif;
	font-style: italic;
	min-width:500px;
}
img {border: 4px solid gray;
	height: 50px;
	width: 50px;
	border-radius: 25%;
}

a {
	text-decoration:none;
}
a:hover{
	opacity:.5;
}
img:hover{
	opacity:.5;
}
.contact {
text-align: center;
background:url("images/dark_embroidery.png");
height: 150px;
}
ul.websites{
padding: 10px;
}
ul.websites li{
	list-style:none;
	display:inline-block;
}